<div class="col-lg-8 col-lg-offset-2">
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<div class="thumbnail">
	    	<img alt="300x200" src="image/Inquery.jpg" />
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              检测结果
		            </b>
		            <!-- <font color="red" style="font-size:28px;padding-left:10px">49</font> 人 -->
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		          <a type="button" class="btn btn-primary" href="#/main/detection">详细</a>
		        </div>
		      </div>
		    </div>
	    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
		<div class="thumbnail">
	    	<img alt="300x200" src="image/Inquery.jpg" />
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              计算机视觉
		            </b>
		            <!-- <font color="red" style="font-size:28px;padding-left:10px">49</font> 人 -->
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		          <a type="button" class="btn btn-primary" href="#/main/computerVision">详细</a>
		        </div>
		      </div>
		    </div>
	    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
		<div class="thumbnail">
	    	<img alt="300x200" src="image/Inquery.jpg" />
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              取样操作信息
		            </b>
		            <!-- <font color="red" style="font-size:28px;padding-left:10px">49</font> 人 -->
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		          <a type="button" class="btn btn-primary" href="#/main/sampling">详细</a>
		        </div>
		      </div>
		    </div>
	    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
		<div class="thumbnail">
	    	<img alt="300x200" src="image/Inquery.jpg" />
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              试剂信息
		            </b>
		            <!-- <font color="red" style="font-size:28px;padding-left:10px">49</font> 人 -->
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		          <a type="button" class="btn btn-primary" href="#/main/reagent">详细</a>
		        </div>
		      </div>
		    </div>
	    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
		<div class="thumbnail">
	    	<img alt="300x200" src="image/Inquery.jpg" />
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              培养箱环境记录
		            </b>
		            <!-- <font color="red" style="font-size:28px;padding-left:10px">49</font> 人 -->
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		          <a type="button" class="btn btn-primary" href="#/main/incubator">详细</a>
		        </div>
		      </div>
		    </div>
	    </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
		<div class="thumbnail">
	    	<img alt="300x200" src="image/Inquery.jpg" />
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              仪器信息
		            </b>
		            <!-- <font color="red" style="font-size:28px;padding-left:10px">49</font> 人 -->
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		          <a type="button" class="btn btn-primary" href="#/main/instrument">详细</a>
		        </div>
		      </div>
		    </div>
	    </div>
    </div>


<!--   <div ng-repeat="place in places" class="col-xs-12 col-sm-6 col-md-4"> 
		<div class="thumbnail">
	    <img alt="300x200" ng-src="{{place.imgUrl}}" />
	    <div class="caption">
	      <div class="row clearfix">
	        <div class="col-md-9 column">
	          <h4>
	            <b>
	              {{place.name}} 
	            </b>
	            <font color="red" style="font-size:28px;padding-left:10px">{{place.Num|number}}</font> 人
	          </h4>
	        </div>
	        <div class="col-md-3 column" style="text-align: right">
	        	<a type="button" class="btn btn-primary" href="#/deliver/{{place.action}}">详细</a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div> -->
	
</div>
</div>