<div class="container-fluid"> 
<div style="position:fixed;height:90px;background-color:#fff;width:100%;border-bottom:1px solid #ddd;z-index:10">
  <div style="display:inline;width:60%">
    <h1 style="padding-top:20px;margin-left:8%">智能集菌仪管理系统 <small style="color: #cc0000">{{subHeader}}</small></h1>
  </div>
  <div style="display:inline;width:40%">
    <ul class="nav nav-pills navbar-right navbar-fixed-top" style="padding-top:46px;padding-left:69%">
        <li id='data'><a href="#/main/data/testResult">汇总数据</a> </li>
        <li id='monitors'><a href="#/main/monitors">监控</a> </li>
        <li id='settings'><a href="#/main/settings">设置</a> </li>

        <!-- <li id='home'><a href="#/main/home">首页</a> </li>
        <li id='data' role="presentation" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#/main/data">汇总数据</a>
            <ul class="dropdown-menu">
                <li><a href="#/deliver/Dept01">手术室</a> </li>
                <li><a href="#/deliver/Dept03">ICU</a> </li>
                <li><a href="#/deliver/Dept05">普通病房</a> </li>
                <li><a href="#/deliver/Dept04">烧伤病房</a> </li>
                <li><a href="#/deliver/Dept02">重伤病房</a> </li>
                <li><a href="#/deliver/OutPatientRoom">门诊</a> </li>
                <li><a href="#/deliver/RescueStaffDistribution">救治人员分布</a> </li>
            </ul>
        </li>
        <li id='monitors'><a href="#/main/monitors">监控</a> </li>
        <li id="settings" class="dropdown"><a href="#/main/settings">设置</a>
            <ul class="dropdown-menu">
                <li><a href="#/Inquiry/Doctor">医生信息</a> </li>
                <li><a href="#/Inquiry/OperationRoom">手术室信息</a> </li>
                <li><a href="#/Inquiry/Assist">辅助信息</a> </li>
                <li><a href="#/Inquiry/Deck">甲板信息</a> </li>
                <li><a href="#/Inquiry/InjuriedPatient">重伤患者信息详情</a> </li>
                <li><a href="#/Inquiry/IndentityPatient">重要身份患者信息详情</a> </li>
            </ul>
        </li> -->          
    </ul>        
  </div>
</div>
<div style="height:90px;width:100%;margin-bottom:10px"></div>
<div ui-view></div>
<script>
  $('ul.nav li.dropdown').hover(function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
  }, function() {
    $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
  });
  //gisWnd=window.open("/haizong/haizong-webgis/gis.html","","",true);
</script>
</div>