<div class="container-fluid">
  <div style="position:fixed;background-color:#fff;width:100%;z-index:10">
    <div style="display:inline;width:60%">
      <h1 style="padding-top:20px;margin-left:8%">智能集菌检测系统</h1>
    </div>
    <div style="display:inline;width:40%" >
      <ul id="mytabs" class="nav nav-tabs navbar-right navbar-fixed-top" style="padding-top:46px;padding-left:75%">
          <li><a href="#data" data-toggle="tab">汇总数据</a> </li>
          <li><a href="#monitors" data-toggle="tab">监控</a> </li>
          <li><a href="#settings" data-toggle="tab">设置</a> </li>
      </ul>
    </div>
  </div>
  <div ui-view style="margin-top:110px"></div>
</div>

<script>
  $('#mytabs a[href="#data"]').tab('show');
</script>
