<div class="tab-pane fade in active" id="monitors">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-1" role="navigation">
        <ul id="mypills" class="nav nav-pills nav-stacked" style="text-align: center;font-size: 15px">
          <li><a href="#realTime" data-toggle="pill">实时监控</a></li>
          <li><a href="#monitorDebug" data-toggle="pill">监控控制</a></li>
        </ul>
      </div>
      <div class="col-xs-11">
      	<div ui-view></div>
      </div>
    </div>  
  </div>
</div>
<script>
  $('#mypills a[href="#realTime"]').tab('show');
</script>
