<div class="tab-pane fade in active" id="monitors">
    <div class="container-fluid">
        <div class="row" style="margin-right: 30px;margin-left: 30px">
            <div class="col-xs-0" role="navigation">
                <ul id="mypills2" class="nav nav-pills nav-stacked" style="text-align: right;font-size: 25px">
                    <!--          <li><a href="#sampleEntry" data-toggle="pill">样品录入</a></li>
          <li><a href="#reagentsEntry" data-toggle="pill">试剂录入</a></li>
          <li><a href="#reagentsEntry" data-toggle="pill">添加任务</a></li> -->
                    </br>
                    <button type="button" class="btn btn-primary" style="margin-right:20px" ng-click="instrumentreset()">仪器复位</button>
                    <!--                     <button type="button" class="btn btn-primary" style="margin-right:20px" ng-click="posibacInjection()">阳性菌加注</button> -->
                    <button type="button" class="btn btn-primary" style="margin-right:20px" ng-click="culture()">培养</button>
                    <button type="button" class="btn btn-primary" style="margin-right:20px" ng-click="sampleEntry()">样品录入</button>
                    <button type="button" class="btn btn-primary" style="margin-right:20px" ng-click="reagentEntry()">试剂录入</button>
                    <button type="button" class="btn btn-primary" style="margin-right:20px" ng-click="addtask()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"> 添加任务</span></button>
                    </br>
                    </br>
                </ul>
            </div>
            <!-- 样本录入列表-阮卓欣 -->
            <table ng-table="samplingTable" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="s in $data" style="text-align: center;">
                    <td title="'样品'" sortable="'ObjectNo'">{{s.ObjectNo}}
                    </td>
                    <td title="'正在执行的步骤'">{{s.NowStep}}
                    </td>
                    <td title="'正在进行的任务'">
                    </td>
                    <td title="'上一步骤'">{{s.FormerStep}}
                    </td>
                    <td title="'下一步骤'">{{s.LaterStep}}
                    </td>
                    <td title="'紧急停止'"> <img ng-src="image/warning.ico" style="width:34px;height: 34px;">
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-right: 30px;text-align: right">
            <select style="width:120px;height: 34px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;background-color: white;" style="width:40%" ng-option="item.id for item in items" ng-change="selectInstrument()" ng-model="item">
                <option selected value="">选择仪器</option>
                <option ng-repeat="instrument in instruments">{{instrument}}</option>
            </select>
            <button type="button" class="btn btn-primary" style="margin-right:20px" ng-click="connected()">是否连上</button>
        </div>
        <div class="col-lg-15 col-lg-offset-1">
            <!--<h2>实时监控 {{status}}</h2>-->
            <div class="row ">
                <p>{{status}}</p>
                <div class="col-md-3 env-panel">
                    <h4> {{isolator1.name}} </h4>
                    <div ng-repeat="n in isolator1.env_names">
                        <p ng-click="printcode(isolator.env_codes[$index],n)">{{n}} <code>{{isolator1.env_status[$index]}}</code></p>
                    </div>
                    <div ng-repeat="n in isolator1.instr_names">
                        <p>{{n}} <code>{{isolator1.instr_status[$index]}}</code></p>
                    </div>
                </div>
                <!--                 <div class="col-md-3 env-panel">
                    <h4> {{isolator2.name}} </h4>
                    <div ng-repeat="n in isolator2.env_names">
                        <p ng-click="printcode(isolator2.env_codes[$index],n)">{{n}} <code>{{isolator2.env_status[$index]}}</code></p>
                    </div>
                    <div ng-repeat="n in isolator2.instr_names">
                        <p>{{n}} <code>{{isolator2.instr_status[$index]}}</code></p>
                    </div>
                </div> -->
                <div class="col-md-3 env-panel">
                    <h4> {{isolator3.name}} </h4>
                    <div ng-repeat="n in isolator3.env_names">
                        <p ng-click="printcode(isolator3.env_codes[$index],n)">{{n}} <code>{{isolator3.env_status[$index]}}</code></p>
                    </div>
                    <div ng-repeat="n in isolator3.instr_names">
                        <p>{{n}} <code>{{isolator3.instr_status[$index]}}</code></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--                 <div class="col-md-9 env-panel">
                    <div id="main" style="height:500%;"></div>
                </div> -->
                <!--<div class="col-md-5 env-panel">-->
                <!--<div id="main2" style="height:500%;"></div>-->
                <!--</div>-->
            </div>
            <div class="row ">
                <!--                 <div class="col-md-3 env-panel">
                    <h4> {{isolator4.name}} </h4>
                    <div ng-repeat="n in isolator4.env_names">
                        <p ng-click="printcode(isolator4.env_codes[$index],n)">{{n}} <code>{{isolator4.env_status[$index]}}</code></p>
                    </div>
                    <div ng-repeat="n in isolator4.instr_names">
                        <p>{{n}} <code>{{isolator4.instr_status[$index]}}</code></p>
                    </div>
                </div> -->
                <div class="col-md-3 env-panel">
                    <h4> {{isolator5.name}} </h4>
                    <div ng-repeat="n in isolator5.env_names">
                        <p ng-click="printcode(isolator5.env_codes[$index],n)">{{n}} <code>{{isolator5.env_status[$index]}}</code></p>
                    </div>
                    <div ng-repeat="n in isolator5.instr_names">
                        <p>{{n}} <code>{{isolator5.instr_status[$index]}}</code></p>
                    </div>
                </div>
                <div class="col-md-3 env-panel">
                    <h4> {{incubator.name}} </h4>
                    <div ng-repeat="n in incubator.env_names">
                        <p ng-click="printcode(incubator.env_codes[$index],n)">{{n}} <code>{{incubator.env_status[$index]}}</code></p>
                    </div>
                    <div ng-repeat="n in incubator.instr_names">
                        <p>{{n}} <code>{{incubator.instr_status[$index]}}</code></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 样品录入modal -->
<div class="modal fade" id="new_sample" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modal_close('#new_sample')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">样品录入</h3>
            </div>
            <div class="modal-body" style="margin-left: 15%;margin-right: 15%;margin-top: 15px">
                <form id="sampleForm" name="sampleForm" class="form-horizontal" data-fv-framework="bootstrap" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">供应商</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="ObjCompany" ng-model="sample.ObjCompany" data-fv-notempty="true" data-fv-notempty-message="该项为必填项" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">产品名字</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="ObjectName" ng-model="sample.ObjectName" data-fv-notempty="true" data-fv-notempty-message="该项为必填项" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">产品类型</label>
                        <div class="col-xs-9">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="ObjectType" ng-model="sample.ObjectType" value="SoB" data-fv-notempty="true" data-fv-notempty-message="该项为必填项" /> SoB
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="ObjectType" ng-model="sample.ObjectType" value="SoS" /> SoS
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="ObjectType" ng-model="sample.ObjectType" value="Wsp" /> Wsp
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">样品记录人员</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="SamplingPeople" ng-model="sample.SamplingPeople" data-fv-notempty="true" data-fv-notempty-message="该项为必填项" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">样品记录时间</label>
                        <div class="col-xs-9 date">
                            <div class="input-group date datetimepicker" data-date="">
                                <input type="text" class="form-control" name="SamplingTime" ng-model="sample.SamplingTime" data-fv-notempty="true" data-fv-notempty-message="该项为必填项" />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar" ></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">注意事项</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="Warning" ng-model="sample.Warning" data-fv-notempty="true" data-fv-notempty-message="该项为必填项" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">储存条件</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="SamSave" ng-model="sample.SamSave" data-fv-notempty="true" data-fv-notempty-message="该项为必填项" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <button type="submit" class="btn btn-primary" name="signup" value="Sign up" ng-click="newsample()">提交</button>
                        </div>
                    </div>
                </form>
            </div>>
        </div>
    </div>
</div>
<!-- 试剂录入modal -->
<div class="modal fade" id="new_reagent" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modal_close('#new_reagent')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">试剂录入</h3>
            </div>
            <div class="modal-body" style="margin-left: 15%;margin-right: 15%;margin-top: 15px;">
                <form id="reagentForm" name="reagentForm" class="form-horizontal" data-fv-framework="bootstrap" data-fv-icon-valid="glyphicon glyphicon-ok" data-fv-icon-invalid="glyphicon glyphicon-remove" data-fv-icon-validating="glyphicon glyphicon-refresh">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">试剂批号</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="ReagentId" ng-model="reagent.ReagentId" data-fv-notempty="true" data-fv-notempty-message="该项为必填项" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">试剂来源</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="ReagentSource" ng-model="reagent.ReagentSource" data-fv-notempty="true" data-fv-notempty-message="该项为必填项" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">试剂名字</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="SaveCondition" ng-model="reagent.SaveCondition" data-fv-notempty="true" data-fv-notempty-message="该项为必填项" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-9 col-xs-offset-3">
                            <button type="submit" class="btn btn-primary" name="signup" value="Sign up" ng-click="newreagent()">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 添加任务modal -->
<div class="modal fade" id="add_task" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="height: 400px">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modal_close('#add_task')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" style="padding-bottom: 10px">添加任务</h3>
                <b>当前加工培养器隔离器：</b>ISO001
            </div>
            <div class="modal-body" style="margin-left: 15%;margin-right: 15%;margin-top: 15px;height: 220px">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>选择样品：</label>
                        </div>
                        <div class="form-group">
                            <select style="width:120px;height: 34px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;background-color: white;" style="width:40%" ng-model="task1.SampleType" ng-change="queryflow1()">
                                <option selected value="">选择样品</option>
                                <option selected value="SoB">SoB</option>
                                <option selected value="SoS">SoS</option>
                                <option selected value="Wsp">Wsp</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select style="width:120px;height: 34px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;background-color: white;" style="width:40%" ng-model="task2.SampleType" ng-change="queryflow2()" ng-show="iflarge">
                                <option selected value="">选择样品</option>
                                <option selected value="SoS">SoS</option>
                                <option selected value="Wsp">Wsp</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select style="width:120px;height: 34px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;background-color: white;" style="width:40%" ng-model="task3.SampleType" ng-change="queryflow3()" ng-show="iflarge">
                                <option selected value="">选择样品</option>
                                <option selected value="SoS">SoS</option>
                                <option selected value="Wsp">Wsp</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>垛盘试剂：</label>
                        </div>
                        <div class="form-group">
                            <select style="width:120px;height: 34px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;background-color: white;" ng-options="Reagent.ReagentName for Reagent in Reagents" ng-model="task1.Reagent" style="width:40%">
                                <option selected value="">选择试剂</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select style="width:120px;height: 34px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;background-color: white;" ng-options="Reagent.ReagentName for Reagent in Reagents" ng-model="task2.Reagent" style="width:40%" ng-show="iflarge">
                                <option selected value="">选择试剂</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select style="width:120px;height: 34px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;background-color: white;" ng-options="Reagent.ReagentName for Reagent in Reagents" ng-model="task3.Reagent" style="width:40%" ng-show="iflarge">
                                <option selected value="">选择试剂</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div>
                    <table ng-table="flowtableParams" class="table table-condensed table-bordered table-striped" style="margin-top: 10px">
                        <tr ng-repeat="flow in $data" style="text-align: center;">
                            <td title="'步骤'" " sortable=" 'OrderId' ">{{flow.OrderId}}</td>
                        <td title=" '操作' "  sortable=" 'OperationId' ">{{flow.OperationId}}</td>
                        <td title=" '数值' " sortable=" 'OperationValue' ">{{flow.OperationValue}}</td>
                        <td title=" '详情' " " sortable=" 'OpDescription' ">{{flow.OpDescription}}</td>
                        </tr>
                    </table>
                </div> -->
            <div class="modal-footer">
                <button type="button " class="btn btn-primary " ng-click="tablechange()">确认</button>
                <button type="button " style="margin-left: 20px" class="btn btn-default " ng-click="modal_close('#add_task')">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 录入成功modal -->
<!-- <div class="modal fade " id="signupSuccess ">
    <div class="modal-dialog modal-sm " role="document ">
        <div class="modal-content " style="text-align: center; font-size: 20px ">
            提交成功！
        </div>
    </div>
</div> -->
<!-- 录入失败modal -->
<div class="modal fade " id="signupFail ">
    <div class="modal-dialog modal-sm ">
        <div class="modal-content " style="text-align: center; font-size: 20px ">
            请确认信息填写完整！
        </div>
    </div>
</div>
<div class="modal fade" id="nodata">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width:400px;text-align: center; font-size: 20px">
            暂无数据！
        </div>
    </div>
</div>
<!-- 是否复位modal -->
<div class="modal fade" id="ResetOrNot" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modal_close('#ResetOrNot')">&times;</button>
                <h3 class="modal-title" id="modal-title">警告</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <span>确定复位该仪器？</span>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="reset()">确定</button>
                <button class="btn btn-warning" type="button" ng-click="modal_close('#ResetOrNot')">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 培养modal -->
<div class="modal fade" id="culturemodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="modal_close('#culturemodal')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">培养</h3>
            </div>
            <div class="modal-body" style="margin-left: 15%;margin-right: 15%;margin-top: 15px">
                <form id="cultureForm" name="cultureForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">选择培养箱</label>
                        <select style="width:120px;height: 34px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;background-color: white;" style="width:40%" ng-model="cultureinfo.incubator">
                            <option selected value="">选择培养箱</option>
                            <option selected value="Incu001">Incu001</option>
                            <option selected value="sample string 1">sample string 1</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">选择位置</label>
                        <div class="col-xs-9" style="margin-top: 7px">
                            <div class="col">
                                <div class="row-xs-6">
                                    <label>
                                        <input name="set" type="radio" value="" /> 上轮 </label>
                                    <label>
                                        <input name="set" type="radio" value="" /> 下轮 </label>
                                    <input type="" name="">
                                </div>
                                <div class="row-xs-6">
                                    上轮请输入1~19，下轮请输入1~31。
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">选择处置方式</label>
                        <div class="col-xs-9" style="margin-top: 7px">
                            <label>
                                <input name="set" type="radio" value="" /> 放入 </label>
                            <label>
                                <input name="set" type="radio" value="" /> 取出 </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">选择培养器</label>
                        <select style="width:120px;height: 34px;font-size: 14px;border: 1px solid #ccc;border-radius: 4px;background-color: white;" style="width:40%" ng-options="tube.TubeNo for tube in tubes" ng-model="tube" ng-change="showtubedetail($index)">
                            <option selected value="">选择培养器</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">培养器参数</label>
                        <div class="col-xs-9" style="margin-top: 7px">
                            <div class="gridTex">
                                <b>培养器ID： </b>{{tempTube.TestId}}
                                <div style="margin-top: 10px;"><b>培养液ID： </b>{{tempTube.CultureId}}</div>
                                <div style="margin-top: 10px;"><b>菌液ID： </b>{{tempTube.BacterId}}</div>
                                <div style="margin-top: 10px;"><b>其他试剂： </b>{{tempTube.OtherRea}}</div>
                                <div style="margin-top: 10px;"><b>培养箱ID： </b>{{tempTube.IncubatorId}}</div>
                                <div style="margin-top: 10px;"><b>开始时间： </b>{{tempTube.StartTime}}</div>
                                <div style="margin-top: 10px;"><b>结束时间： </b>{{tempTube.EndTime}}</div>
                                <div style="margin-top: 10px;"><b>分析结果： </b>{{tempTube.AnalResult}}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button " class="btn btn-primary " ng-click="toculture()">确认</button>
                <button type="button " style="margin-left: 20px" class="btn btn-default " ng-click="modal_close('#culturemodal')">取消</button>
            </div>
        </div>
    </div>
</div>