<div class="col-lg-8 col-lg-offset-2"> 
	<div class = "row">
	  <div class="col-xs-12 col-sm-6 col-md-4" > 
		<div class="thumbnail" >
		    <img  src="image/OR.jpg"  alt="300x200">
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              个人信息
		            </b>
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		        	<a type="button" class="btn btn-primary" href = "#/main/personalInfo">详细</a>
		        </div>
		      </div>
		    </div>
		</div>
	  </div>	
	  <div class="col-xs-12 col-sm-6 col-md-4" > 
			<div class="thumbnail" >
		    <img  src="image/ICU.jpg"  alt="300x200">
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              修改密码
		            </b>
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		        	<a type="button" class="btn btn-primary" href = "#/phonevalid">详细</a>
		        </div>
		      </div>
		    </div>
		  </div>
	  </div>
	  <div class="col-xs-12 col-sm-6 col-md-4" > 
			<div class="thumbnail" >
		    <img  src="image/ICU.jpg"  alt="300x200">
		    <div class="caption">
		      <div class="row clearfix">
		        <div class="col-md-8 column">
		          <h4>
		            <b>
		              注销登录
		            </b>
		          </h4>
		        </div>
		        <div class="col-md-4 column" style="text-align: right">
		        	<a type="button" class="btn btn-primary" href = "#">注销</a>
		        </div>
		      </div>
		    </div>
		  </div>
	  </div>		
	</div>
</div>