<div class="tab-pane fade in active" id="allusers">
    <!-- <h3>隔离器信息表</h3> -->
    <table ng-table="tableParams1" class="table" show-filter="true">
        <tr ng-repeat="user in $data" style="text-align: center;">
            <td title="'用户名'" filter="{ IsolatorId: 'text'}">
                {{user.IsolatorId}}</td>
            <td title="'身份证'" filter="{ ProductDay: 'text'}" sortable="'ProductDay'">
                {{user.ProductDay|timeFormat:'YYYY-MM-DD h:m'}}</td>
            <td title="'联系方式'" filter="{ EquipPro: 'text'}">
                {{user.EquipPro}}</td>
            <td title="'详情'">
                <button class="btn btn-link" style="text-decoration:none; outline:none; padding:0px; border:0px; font-size:10px;" ng-click="toenvIsolator(user.IsolatorId)">编辑</button>
            </td>
        </tr>
    </table>
</div>
</div>
<script>
$(function() {
    $("#popover1").popover();
});
</script>