<div class="tab-pane fade in active" id="operationprocess">
    <div class="form-group">
        <h3>操作流程维护</h3>
        <div class="col-md-4" style="text-align: center;">
            <button type="submit" style="width: 100px" class="btn btn-primary">新增</button>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <button type="button" style="width: 100px" class="btn btn-primary">编辑</button>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <button type="button" style="width: 100px" class="btn btn-primary">删除</button>
        </div>
    </div>
</div>
</div>
<script>
$(function() {
    $("#popover1").popover();
});
</script>