<div class="tab-pane fade in active" id="operationorder">
    <h3>操作流程维护</h3>
    <ul id="mypills2" class="nav nav-pills nav-stacked" style="text-align: right;font-size: 25px;margin-top: -38px">
        <button type="button" class="btn btn-primary" style="margin-right:20px;width: 100px" ng-click="tonew()">新增</button>
    </ul>
    <!-- <table ng-table="tableParams" style="margin-top: 20px" class="table" show-filter="true">
        <tr ng-repeat="type in $data" style="text-align: center;">
            <td title="'操作流程ID'" filter="{ UserId: 'text'}" sortable="'OrderId'">
                {{type.OrderId}}</td>
            <td title="'操作ID'" filter="{ UserId: 'text'}" sortable="'Type'">
                {{type.OperationId}}</td>
            <td title="'操作参数'" filter="{ UserId: 'text'}" sortable="'Type'">
                {{type.OperationValue}}</td>
            <td title="'操作说明'" filter="{ UserId: 'text'}" sortable="'Type'">
                {{type.OpDescription}}</td>
        </tr>
    </table> -->
    <table ng-table="tableParams" style="margin-top: 20px" class="table" show-filter="true">
        <tr ng-repeat="type in $data" style="text-align: center;">
            <td title="'操作流程种类'" filter="{ UserId: 'text'}" sortable="'type'">
                {{type}}</td>
            <td title="'详情'">
                <button class="btn btn-link" style="text-decoration:none; outline:none; padding:0px; border:0px; font-size:10px;" ng-click="toedit(type)">编辑</button>
                <button class="btn btn-link" style="text-decoration:none; outline:none; padding:0px; border:0px; font-size:10px;" ng-click="todelete(type)">删除</button>
            </td>
        </tr>
    </table>
</div>