<div class="col-lg-10">

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>仪器编号</th>
          <th>生产日期</th>
          <th>生产厂家</th>
          <th>参数描述</th>
          <th>更新记录</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>导轨1</td>
          <td>2016.07.08</td>
          <td>A供应商</td>
          <td>6号导轨</td>
          <td>2016.09.08</td>
        </tr>
        <tr>
          <td>隔离器1</td>
          <td>2016.07.08</td>
          <td>B供应商</td>
          <td>3号隔离器</td>
          <td>2016.09.08</td>
        </tr>
        <tr>
          <td>培养箱1</td>
          <td>2016.07.08</td>
          <td>C供应商</td>
          <td>1号培养箱</td>
          <td>2016.09.08</td>
        </tr>            
      </tbody>
    </table>
  </div>

</div>