<div class="col-lg-10">

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>试剂编号</th>
          <th>生产日期</th>
          <th>试剂类型</th>
          <th>保质期</th>
          <th>试剂名字</th>
          <th>试剂适用性试验</th>
          <th>储存方法</th>
          <th>冗余信息</th>
          <th>更新记录</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>试剂1</td>
          <td>2016.07.08</td>
          <td>培养液</td>
          <td>2018.07.08</td>
          <td>optimem</td>
          <td>通过</td>
          <td>低温干燥</td>
          <td>无</td>
          <td>2016.10.08</td>
        </tr>
        <tr>
          <td>试剂2</td>
          <td>2016.07.08</td>
          <td>菌液</td>
          <td>2018.07.08</td>
          <td>金黄色葡萄球菌</td>
          <td>通过</td>
          <td>低温干燥</td>
          <td>无</td>
          <td>2016.10.08</td>
        </tr>
        <tr>
          <td>试剂3</td>
          <td>2016.07.08</td>
          <td>稀释液</td>
          <td>2018.07.08</td>
          <td>H2O</td>
          <td>不需要</td>
          <td>低温干燥</td>
          <td>无</td>
          <td>2016.10.08</td>
        </tr>            
      </tbody>
    </table>
  </div>

</div>