<div class="tab-pane fade in active" id="reagent">
  <table ng-table="tableParams" class="table table-condensed" show-filter="true">
    <tr ng-repeat="user in $data">
      <td title="'试剂编号'" filter="{ ReagentId: 'text'}" sortable="'ReagentId'">
          {{user.ReagentId}}</td>
      <td title="'试剂名字'" filter="{ ReagentName: 'text'}" sortable="'ReagentName'">
          {{user.SaveCondition}}</td>
      <td title="'试剂来源'" filter="{ ReagentSource: 'text'}" sortable="'ReagentSource'">
          {{user.ReagentSource}}</td>
      <td title="'更新记录'" filter="{ revDateTime: 'text'}" sortable="'revDateTime'">
          <button type="button" class="btn btn-link" style="font-size:10px;text-decoration:none" popover id="popover1" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-html="true" data-title="更新记录" data-content="更新时间：{{user.revDateTime|timeFormat:'YYYY-MM-DD h:m'}}<br>终端IP：{{user.TerminalIP}}<br>终端名字：{{user.TerminalName}}<br>用户名：{{user.revUserId}}<br>身份证：{{user.revIdentify}}">{{user.revDateTime|timeFormat:'YYYY-MM-DD h:m'}}</button></td>
    </tr>
  </table>
</div>

<script>
  $(function () { 
    $("#popover1").popover(); 
  });
</script>