<div class="col-lg-10">

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>产品编号</th>
          <th>供应商</th>
          <th>培养批次</th>
          <th>样品记录人员</th>
          <th>样品记录时间</th>
          <th>取样方法</th>
          <th>取样器具</th>
          <th>取样量</th>
          <th>分样方法</th>
          <th>样品容器</th>
          <th>注意事项</th>
          <th>储存条件</th>
          <th>更新记录</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>产品1</td>
          <td>A供应商</td>
          <td>第一批</td>
          <td>检测员1</td>
          <td>2016.07.08</td>
          <td>擦拭取样</td>
          <td>分度吸管</td>
          <td>10ml</td>
          <td>分样器法</td>
          <td>锡盘</td>
          <td>--</td>
          <td>低温干燥储存</td>
          <td>2016.07.08</td>
        </tr>
        <tr>
          <td>产品2</td>
          <td>A供应商</td>
          <td>第一批</td>
          <td>检测员1</td>
          <td>2016.07.08</td>
          <td>擦拭取样</td>
          <td>具塞滴定管</td>
          <td>10ml</td>
          <td>分样器法</td>
          <td>锡盘</td>
          <td>--</td>
          <td>低温干燥储存</td>
          <td>2016.07.08</td>
        </tr>
        <tr>
          <td>产品3</td>
          <td>A供应商</td>
          <td>第一批</td>
          <td>检测员1</td>
          <td>2016.07.08</td>
          <td>淋洗取样</td>
          <td>分度吸管</td>
          <td>10ml</td>
          <td>四分法</td>
          <td>锡盘</td>
          <td>--</td>
          <td>低温干燥储存</td>
          <td>2016.07.08</td>
        </tr>            
      </tbody>
    </table>
  </div>

</div>