<div class="col-lg-10">
<p>只对检测结果汇总 </p>
	<div class="table-responsive">
		<table class="table table-striped">
      <thead>
        <tr>
          <th>检测编号</th>
          <th>产品编号</th>
          <th>供应商</th>
          <th>培养批次</th>
          <th>检测类型</th>
          <th>检测标准</th>
          <th>使用仪器</th>
          <th>检测过程</th>
          <th>检测时间</th>
          <th>检测结果</th>
          <th>检测人员</th>
          <th>是否复核</th>
          <th>复核人员</th>
          <th>复核时间</th>
          <th>更新记录</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>检1</td>
          <td>产品1</td>
          <td>A供应商</td>
          <td>第一批</td>
          <td>无菌检查</td>
          <td>1,001</td>
          <td>隔离器</td>
          <td>ipsum</td>
          <td>2016.07.08</td>
          <td>无菌</td>
          <td>检测员1</td>
          <td>否</td>
          <td>检测员2</td>
          <td>-</td>
          <td>2016.07.08</td>
        </tr>
        <tr>
          <td>检2</td>
          <td>产品2</td>
          <td>A供应商</td>
          <td>第一批</td>
          <td>无菌检查</td>
          <td>1,001</td>
          <td>隔离器</td>
          <td>ipsum</td>
          <td>2016.07.08</td>
          <td>有菌</td>
          <td>检测员1</td>
          <td>是</td>
          <td>检测员2</td>
          <td>2016.09.06</td>
          <td>2016.09.06</td>
        </tr>
        <tr>
          <td>检3</td>
          <td>产品3</td>
          <td>A供应商</td>
          <td>第一批</td>
          <td>无菌检查</td>
          <td>1,001</td>
          <td>培养箱</td>
          <td>ipsum</td>
          <td>2016.07.08</td>
          <td>有菌</td>
          <td>检测员2</td>
          <td>是</td>
          <td>检测员2</td>
          <td>2016.09.06</td>
          <td>2016.09.06</td>
        </tr>            
      </tbody>
		</table>
	</div>

</div>