<div class="col-lg-9 col-lg-offset-1">
  

<h2>系统控制 {{status}}</h2>

<div class="bs-callout bs-callout-info">
	<button type="button" class="btn btn-primary">返回</button>
	<button type="button" class="btn btn-success" ng-click="getWorkflow()">下一步</button>
	<button type="button" class="btn btn-danger">紧急停止</button>
</div>

<p> 这里三个 新建任务 查看当前任务列表</p>
<!--<div class="row ">-->

  <!--<div class="col-md-4 env-panel" >-->
  	<!--<h4>隔离器操作</h4>-->
  	<!--<p>状态：<code>不可操作</code></p>-->
  	<!--<p>接种方式：<code>薄膜</code></p>-->
  	<!--<p>样品：<code>枯草芽胞杆菌</code></p>-->
  	<!--<p>设备状态：<code>正常</code></p>-->
  	<!--<p>操作人员：<code>张三</code></p>-->
  <!--</div>-->

	<!--<div class="col-md-4 env-panel">-->
		<!--<h4>机械臂操作</h4 >-->
		<!--<p>当前：<code>入样品</code></p>-->
		<!--<p>下一步：<code>关门</code></p>-->
		<!--<p>样品：<code>枯草芽胞杆菌</code></p>-->
		<!--<p>设备状态：<code>正常</code></p>-->
		<!--<p>操作人员：<code>张三</code></p>-->
	<!--</div>-->

  <!--<div class="col-md-4 env-panel">-->
  	<!--<h4>轨道操作</h4>-->
  	<!--<p>当前：<code>集菌仪</code></p>-->
  	<!--<p>下一步：<code>培养箱</code></p>-->
  	<!--<p>完成状况：<code>30 %</code></p>-->
  	<!--<p>设备状态：<code>正常</code></p>-->
  	<!--<p>操作人员：<code>张三</code></p>-->
  <!--</div>-->

  <!--<div class="col-md-4 env-panel">-->
  	<!--<h4>培养箱操作</h4>-->
  	<!--<p>当前：<code>入样品</code></p>-->
  	<!--<p>下一步：<code>关门</code></p>-->
  	<!--<p>样品：<code>枯草芽胞杆菌</code></p>-->
  	<!--<p>设备状态：<code>正常</code></p>-->
  	<!--<p>操作人员：<code>张三</code></p>-->
  <!--</div>-->

  <!--<div class="col-md-4 env-panel">-->
  	<!--<h4>视觉系统状态</h4>-->
  	<!--<p>拍摄间隔：<code>8 小时</code></p>-->
  	<!--<p>光源开关：<code>关</code></p>-->
  	<!--<p>检测阈值：<code>85 %</code></p>-->
  	<!--<p>设备状态：<code>正常</code></p>-->
  	<!--<p>操作人员：<code>张三</code></p>-->
  <!--</div>-->

<!--</div>-->


	<!--<div class='row'>-->

		<!--<div class="col-md-5">-->

			<!--<div class="bs-callout bs-callout-info">-->
				<!--<h4>知识库提醒</h4>-->
				<!--<p>根据当前所处的步骤进行提示和干预</p>-->
			<!--</div>-->

		<!--</div>-->

		<!--<div class="col-md-5">-->

			<!--<div class="bs-callout bs-callout-info">-->
				<!--<h4> 实时视频</h4>-->
				<!--<p> 当前步骤完成情况</p>-->
			<!--</div>-->

		<!--</div>-->
	<!--</div>-->

	<table class="table table-striped" ng-if = "flag ">

		<tr>
			<th>序号</th>
			<th>操作</th>
			<th>操作编码</th>
			<th>设备</th>
			<!--<th>设备编码</th>-->
			<th>进度</th>
		</tr>
		<tr ng-repeat="on in data.operationName track by $index">

			<td>{{$index + 1}}</td>
			<td>{{on}}</td>
			<td>{{data.operationCode[$index]}}</td>
			<td>{{data.instrument[$index]}}</td>
			<!--<td>{{data.instrumentCode[$index]}}</td>-->
			<td>
				<button type="button" class="btn btn-default btn-xs" ng-if="$index > 38">待完成</button>
				<!--<button type="button" class="btn btn-danger btn-xs" ng-if="$index <= 68 && $index> 0.6">有故障</button>-->
				<button type="button" class="btn btn-info btn-xs" ng-if="$index <= 38 && $index > 8">进行中</button>
				<button type="button" class="btn btn-success btn-xs" ng-if="$index <= 8">已完成</button>
			</td>



		</tr>

	</table>



<!-- <div class="bs-callout bs-callout-info">
    <h4>点击每一个指标在这里画出历史曲线</h4>
    <p> 历史曲线</p>
</div>
 -->

<style type="text/css">

.bs-callout-info {
	border-left-color: #5bc0de;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

</style>
	