 <div class="col-lg-8 col-lg-offset-2">
  

<h3>实时监控</h3>


<div class="row">

  <div class="col-md-3">
  	<h4>培养箱实时参数</h4>
  	<p>温度：<code>35 ℃</code></p>
  	<p>湿度：<code>25 %</code></p>
  	<p>样品：<code>130</code></p>
  </div>



  <div class="col-md-3">
  	<h4>集菌仪实时参数</h4>
  	<p>温度1：<code>35 ℃</code></p>
  	<p>湿度2：<code>35 ℃</code></p>
  	<p>气压：<code>76 mmHg</code></p>
  	</div>

  <div class="col-md-3">
  	<h4>视觉系统状态</h4>
  	<p>温度：<code>35 ℃</code></p>
  	<p>光照：<code>80 %</code></p>
  	<p>位置：<code>外圈 12</code></p>
  </div>

  <div class="col-md-3">
  	<h4>导轨状态</h4>
  	<p>速度：<code>0 cm/s </code></p>
  	<p>位置：<code>进入培养箱</code></p>
  	<p>其他：<code>80 %</code></p>
  </div>

</div>

<div class='row'>

	<div class="col-md-5">

		<div class="bs-callout bs-callout-info">
		    <h4>当前进度</h4>
		    <p> 检测：1/14 天</p>
	  	</div>

	</div>
	
	<div class="col-md-5">

		<div class="bs-callout bs-callout-info">
		    <h4> 实时视频</h4>
		    <p> 点击观看</p>
	  	</div>

	</div>
</div>


<div class="bs-callout bs-callout-info">
    <h4>点击每一个指标在这里画出历史曲线</h4>
    <p> 历史曲线</p>
</div>


<style type="text/css">

.bs-callout-info {
	border-left-color: #5bc0de;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

</style>
